{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <section style="background-image:url('{% static 'main/img/space.jpg' %}');">
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Войти</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Электронная почта</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Пароль</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Запомнить меня <a href="#">Восстановить пароль</a></label>
                    </div>
                    <button>Войти</button>
                    <div class="register">
                        <p>У меня нет аккаунта <a href="#">Регистрация</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>